* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  background-image: url('./assets/img/sunset.png');
  background-size: cover;
  background-position: bottom;
  transition: all 0.4s ease-out;
}
.app.cool {
  background-image: url('./assets/img/night.png');
}
main {
  min-height: 100vh;
  padding: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7))
}

/* Search-Box */
.search-box {
  width: 100%;
  margin: 0 0 40px;
}
.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  border-radius: 100px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(248, 248, 255, 0.7);
  box-shadow: 2px 4px rgba(0, 0, 0, 0.3);

  transition: 0.3s ease-in-out;
}
.search-box .search-bar:focus {
  background-color: ghostwhite;
}

/* Location-Box */
.location-box .location {
  color: white;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
.location-box .date {
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

/* Weather-Box */
.weather-box {
  text-align: center;
}
.weather-box .temperature {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(248, 248, 255, 0.5);
  border-radius: 100px;
  padding: 30px;
  color: white;
  font-size: 75px;
  font-weight: 700;
  text-align: center;
}
.weather-box .weather {
  color: white;
  font-size: 50px;
  font-weight: 700;
}